.version.faculty /* version checker */
{
	color: #0000F6;
	background-color: #CDF8AB;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 3802px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	padding-bottom: 62px;
	width: 0.01px;
}

#u444
{
	z-index: 5;
	height: 114px;
}

#u444:active
{
	height: 114px;
	min-height: 0px;
	margin: 0px;
}

#u444-bw
{
	z-index: 5;
	height: 114px;
}

#u929-7
{
	z-index: 37;
	width: 887px;
	min-height: 46px;
	margin-right: -10000px;
	margin-top: 23px;
	left: 251px;
}

#u2044
{
	z-index: 129;
	width: 63px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 168px;
}

#pu444,#pu868-3
{
	width: 0.01px;
	margin-left: -100px;
}

#u868-3,#u868-3-bw
{
	z-index: 2;
	min-height: 34px;
}

#menuu477
{
	z-index: 6;
	width: 592px;
	margin-right: -10000px;
	left: 284px;
}

#u485
{
	width: 103px;
	min-height: 34px;
	margin-right: -10000px;
}

#u486
{
	width: 103px;
	padding-bottom: 17px;
}

#u486:hover
{
	width: 103px;
	min-height: 0px;
	margin: 0px;
}

#u486.MuseMenuActive
{
	width: 103px;
	min-height: 0px;
	margin: 0px;
}

#u487-4
{
	width: 40px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
	left: 31px;
}

#u486:hover #u487-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 40px;
	margin: 0px -10000px 0px 0px;
}

#u486.MuseMenuActive #u487-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 40px;
	margin: 0px -10000px 0px 0px;
}

#u974
{
	width: 104px;
	min-height: 34px;
	margin-right: -10000px;
	left: 105px;
}

#u977
{
	width: 104px;
	padding-bottom: 17px;
}

#u977:hover
{
	width: 104px;
	min-height: 0px;
	margin: 0px;
}

#u977.MuseMenuActive
{
	width: 104px;
	min-height: 0px;
	margin: 0px;
}

#u978-4
{
	width: 41px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
	left: 31px;
}

#u977:hover #u978-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 41px;
	margin: 0px -10000px 0px 0px;
}

#u977.MuseMenuActive #u978-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 41px;
	margin: 0px -10000px 0px 0px;
}

#u981
{
	width: 134px;
	min-height: 34px;
	margin-right: -10000px;
	left: 211px;
}

#u982
{
	width: 134px;
	padding-bottom: 17px;
}

#u982:hover
{
	width: 134px;
	min-height: 0px;
	margin: 0px;
}

#u982.MuseMenuActive
{
	width: 134px;
	min-height: 0px;
	margin: 0px;
}

#u985-4
{
	width: 71px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
	left: 31px;
}

#u982:hover #u985-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 71px;
	margin: 0px -10000px 0px 0px;
}

#u982.MuseMenuActive #u985-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 71px;
	margin: 0px -10000px 0px 0px;
}

#u988
{
	width: 108px;
	min-height: 34px;
	margin-right: -10000px;
	left: 347px;
}

#u989
{
	width: 108px;
	padding-bottom: 17px;
}

#u989:hover
{
	width: 108px;
	min-height: 0px;
	margin: 0px;
}

#u989.MuseMenuActive
{
	width: 108px;
	min-height: 0px;
	margin: 0px;
}

#u992-4
{
	width: 45px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
	left: 31px;
}

#u989:hover #u992-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 45px;
	margin: 0px -10000px 0px 0px;
}

#u989.MuseMenuActive #u992-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 45px;
	margin: 0px -10000px 0px 0px;
}

#u1002
{
	width: 135px;
	min-height: 34px;
	margin-right: -10000px;
	left: 457px;
}

#u1005
{
	width: 135px;
	padding-bottom: 17px;
}

#u1005:hover
{
	width: 135px;
	min-height: 0px;
	margin: 0px;
}

#u1005.MuseMenuActive
{
	width: 135px;
	min-height: 0px;
	margin: 0px;
}

#u1007-4
{
	width: 72px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
	left: 31px;
}

#u1005:hover #u1007-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 72px;
	margin: 0px -10000px 0px 0px;
}

#u1005.MuseMenuActive #u1007-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 72px;
	margin: 0px -10000px 0px 0px;
}

#ppu1026-18
{
	width: 0.01px;
	margin-left: -227px;
	margin-top: 8px;
}

#pu1026-18
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 24px;
}

#u1026-18
{
	z-index: 44;
	width: 145px;
	min-height: 28px;
}

#u1037-15
{
	z-index: 62;
	width: 145px;
	min-height: 28px;
	margin-top: 39px;
}

#u1038-18
{
	z-index: 77;
	width: 145px;
	min-height: 28px;
	margin-top: 41px;
}

#pu1371-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 379px;
}

#u1371-4
{
	z-index: 132;
	width: 228px;
	min-height: 38px;
}

#u1370
{
	z-index: 131;
	width: 638px;
	height: 4px;
}

#pu1709-11
{
	width: 0.01px;
	margin-left: 15px;
	margin-top: 77px;
}

#u1709-11
{
	z-index: 166;
	width: 473px;
	min-height: 201px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u1709-3
{
	text-decoration: underline;
	font-weight: bold;
}

#u1709-5,#u1709-7,#u1709-9
{
	text-align: left;
}

#u1549
{
	z-index: 146;
	width: 188px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 501px;
}

#pu1545-10
{
	width: 0.01px;
	margin-left: 15px;
	margin-top: 33px;
}

#u1545-10
{
	z-index: 136;
	width: 473px;
	min-height: 322px;
	background-color: transparent;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u1545-6,#u1545-7
{
	font-size: 13px;
	line-height: 16px;
}

#u1577-9
{
	z-index: 150;
	width: 486px;
	min-height: 256px;
	background-color: transparent;
	font-size: 16px;
	line-height: 19px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 266px;
}

#u1709-2,#u1545,#u1577
{
	font-weight: bold;
}

#u1577-3
{
	text-decoration: none;
}

#u1650-3
{
	z-index: 161;
	width: 5px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 415px;
	left: 488px;
}

#pu1565
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 33px;
	margin-left: 501px;
}

#u1565
{
	z-index: 148;
	width: 188px;
	background-color: transparent;
	position: relative;
}

#u1578
{
	z-index: 159;
	width: 188px;
	background-color: transparent;
	margin-top: 105px;
	position: relative;
}

#pu1077-21
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 24px;
	margin-left: 1280px;
}

#u1077-21
{
	z-index: 95;
	width: 145px;
	min-height: 28px;
}

#u1026-16,#u1077-19
{
	padding-left: 37px;
}

#u1026-16.rtl-list,#u1077-19.rtl-list
{
	padding-left: 0px;
	padding-right: 37px;
}

#u1026-16 > li:before,#u1077-19 > li:before
{
	margin-right: 8px;
	margin-top: 0px;
}

#u1026-16.rtl-list > li:before,#u1077-19.rtl-list > li:before
{
	margin-right: 0px;
	margin-left: 8px;
}

#u1239-13
{
	z-index: 116;
	width: 145px;
	min-height: 90px;
	margin-top: 45px;
}

#pu1838-12
{
	width: 0.01px;
	margin-left: 167px;
	margin-top: 12px;
}

#u1838-12
{
	z-index: 177;
	width: 486px;
	min-height: 244px;
	background-color: transparent;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u1838-2
{
	font-size: 16px;
	line-height: 19px;
	font-weight: bold;
}

#u1545-2,#u1545-3,#u1545-5,#u1838-3,#u1838-5,#u1838-7,#u1838-9
{
	font-size: 16px;
	line-height: 19px;
}

#u1696
{
	z-index: 164;
	width: 188px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 510px;
}

#u1872-5
{
	z-index: 191;
	width: 489px;
	min-height: 37px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 42px;
	color: #7F7F7F;
	font-size: 35px;
	text-indent: 5px;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	margin-left: 77px;
	margin-top: 51px;
	position: relative;
}

#u1872
{
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

#u2191
{
	z-index: 234;
	width: 823px;
	height: 4px;
	background-color: #7F7F7F;
	margin-left: 83px;
	margin-top: 4px;
	position: relative;
}

#pu1854
{
	width: 0.01px;
	margin-left: 85px;
	margin-top: 32px;
}

#u1854
{
	z-index: 189;
	width: 155px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
}

#u1887
{
	z-index: 196;
	width: 178px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 205px;
}

#u1900
{
	z-index: 198;
	width: 140px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 452px;
}

#u1906
{
	z-index: 200;
	width: 152px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 671px;
}

#u2180-4
{
	z-index: 206;
	width: 138px;
	min-height: 18px;
	background-color: transparent;
	line-height: 18px;
	font-size: 15px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
}

#u2185-5
{
	z-index: 210;
	width: 125px;
	min-height: 18px;
	background-color: transparent;
	line-height: 18px;
	font-size: 15px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 238px;
}

#u2186-5
{
	z-index: 215;
	width: 135px;
	min-height: 9px;
	background-color: transparent;
	line-height: 18px;
	font-size: 15px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	left: 447px;
}

#u2187-5
{
	z-index: 220;
	width: 125px;
	min-height: 18px;
	background-color: transparent;
	line-height: 18px;
	font-size: 15px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	left: 677px;
}

#pu1912
{
	width: 0.01px;
	margin-left: 85px;
	margin-top: 18px;
}

#u1912
{
	z-index: 202;
	width: 146px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1912_img
{
	padding-right: 1px;
}

#u1924
{
	z-index: 204;
	width: 166px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 217px;
}

#u2239
{
	z-index: 351;
	width: 137px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 456px;
}

#u2250
{
	z-index: 353;
	width: 157px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 671px;
}

#pu2188-5
{
	width: 0.01px;
	margin-left: 96px;
	margin-top: 9px;
}

#u2188-5
{
	z-index: 225;
	width: 125px;
	min-height: 18px;
	background-color: transparent;
	line-height: 18px;
	font-size: 15px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
}

#u2185-2,#u2186-2,#u2187-2,#u2188-2
{
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u2189-4
{
	z-index: 230;
	width: 125px;
	min-height: 18px;
	background-color: transparent;
	line-height: 18px;
	font-size: 15px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	left: 235px;
}

#u2194-4
{
	z-index: 239;
	width: 125px;
	min-height: 18px;
	background-color: transparent;
	font-size: 15px;
	line-height: 18px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	left: 470px;
}

#u2193-4
{
	z-index: 235;
	width: 125px;
	min-height: 18px;
	background-color: transparent;
	font-size: 15px;
	line-height: 18px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	left: 677px;
}

#pu2255
{
	width: 0.01px;
	margin-left: 78px;
	margin-top: 26px;
}

#u2255
{
	z-index: 355;
	width: 163px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
}

#u2260
{
	z-index: 357;
	width: 158px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 233px;
}

#u2265
{
	z-index: 359;
	width: 141px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 462px;
}

#u2270
{
	z-index: 361;
	width: 183px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 665px;
}

#pu2195-4
{
	width: 0.01px;
	margin-left: 93px;
	margin-top: 5px;
}

#u2195-4
{
	z-index: 243;
	width: 125px;
	min-height: 18px;
	background-color: transparent;
	font-size: 15px;
	line-height: 18px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
}

#u2200-4
{
	z-index: 247;
	width: 125px;
	min-height: 18px;
	background-color: transparent;
	font-size: 15px;
	line-height: 18px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 238px;
}

#u2201-4
{
	z-index: 251;
	width: 125px;
	min-height: 18px;
	background-color: transparent;
	font-size: 15px;
	line-height: 18px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	left: 457px;
}

#u2202-4
{
	z-index: 255;
	width: 125px;
	min-height: 18px;
	background-color: transparent;
	font-size: 15px;
	line-height: 18px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	left: 676px;
}

#pu2275
{
	width: 0.01px;
	margin-left: 70px;
	margin-top: 54px;
}

#u2275
{
	z-index: 363;
	width: 177px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
}

#u2280
{
	z-index: 365;
	width: 172px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 241px;
}

#u2285
{
	z-index: 367;
	width: 168px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 465px;
}

#u2290
{
	z-index: 369;
	width: 172px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	left: 685px;
}

#u2203-4
{
	z-index: 259;
	width: 125px;
	min-height: 18px;
	background-color: transparent;
	font-size: 15px;
	line-height: 18px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u2204-4
{
	z-index: 263;
	width: 125px;
	min-height: 18px;
	background-color: transparent;
	font-size: 15px;
	line-height: 18px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	left: 238px;
}

#u2205-4
{
	z-index: 267;
	width: 125px;
	min-height: 18px;
	background-color: transparent;
	font-size: 15px;
	line-height: 18px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 465px;
}

#u2206-4
{
	z-index: 271;
	width: 125px;
	min-height: 18px;
	background-color: transparent;
	font-size: 15px;
	line-height: 18px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	left: 695px;
}

#pu2295
{
	width: 0.01px;
	margin-left: 49px;
	margin-top: 33px;
}

#u2295
{
	z-index: 371;
	width: 219px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 43px;
}

#u2300
{
	z-index: 373;
	width: 163px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 271px;
}

#u2305
{
	z-index: 375;
	width: 184px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 23px;
	left: 486px;
}

#u2310
{
	z-index: 377;
	width: 161px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 722px;
}

#pu2207-4
{
	width: 0.01px;
	margin-left: 81px;
	margin-top: 13px;
}

#u2207-4
{
	z-index: 275;
	width: 177px;
	min-height: 18px;
	background-color: transparent;
	font-size: 15px;
	line-height: 18px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u2208-4
{
	z-index: 279;
	width: 125px;
	min-height: 18px;
	background-color: transparent;
	font-size: 15px;
	line-height: 18px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	left: 265px;
}

#u2209-4
{
	z-index: 283;
	width: 135px;
	min-height: 18px;
	background-color: transparent;
	font-size: 15px;
	line-height: 18px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	left: 491px;
}

#u2210-4
{
	z-index: 287;
	width: 125px;
	min-height: 18px;
	background-color: transparent;
	font-size: 15px;
	line-height: 18px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	left: 733px;
}

#pu2315
{
	width: 0.01px;
	margin-left: 49px;
	margin-top: 37px;
}

#u2315
{
	z-index: 379;
	width: 229px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 61px;
}

#u2320
{
	z-index: 381;
	width: 155px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 282px;
}

#u2325
{
	z-index: 383;
	width: 194px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 87px;
	left: 491px;
}

#u2330
{
	z-index: 385;
	width: 172px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 38px;
	left: 738px;
}

#pu2211-4
{
	width: 0.01px;
	margin-left: 107px;
	margin-top: 14px;
}

#u2211-4
{
	z-index: 291;
	width: 125px;
	min-height: 18px;
	background-color: transparent;
	font-size: 15px;
	line-height: 18px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
}

#u2212-4
{
	z-index: 295;
	width: 125px;
	min-height: 18px;
	background-color: transparent;
	font-size: 15px;
	line-height: 18px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	left: 248px;
}

#u2213-4
{
	z-index: 299;
	width: 141px;
	min-height: 18px;
	background-color: transparent;
	font-size: 15px;
	line-height: 18px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	left: 465px;
}

#u2214-4
{
	z-index: 303;
	width: 125px;
	min-height: 18px;
	background-color: transparent;
	font-size: 15px;
	line-height: 18px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	left: 707px;
}

#pu2335
{
	width: 0.01px;
	margin-left: 66px;
	margin-top: 29px;
}

#u2335
{
	z-index: 387;
	width: 180px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
}

#u2340
{
	z-index: 389;
	width: 153px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 27px;
	left: 265px;
}

#u2345
{
	z-index: 391;
	width: 148px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 499px;
}

#u2350
{
	z-index: 393;
	width: 183px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 721px;
}

#pu2215-4
{
	width: 0.01px;
	margin-left: 94px;
	margin-top: 16px;
}

#u2215-4
{
	z-index: 307;
	width: 138px;
	min-height: 18px;
	background-color: transparent;
	font-size: 15px;
	line-height: 18px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
}

#u2216-4
{
	z-index: 311;
	width: 125px;
	min-height: 18px;
	background-color: transparent;
	font-size: 15px;
	line-height: 18px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	left: 279px;
}

#u2217-4
{
	z-index: 315;
	width: 125px;
	min-height: 18px;
	background-color: transparent;
	font-size: 15px;
	line-height: 18px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	left: 507px;
}

#u2218-4
{
	z-index: 319;
	width: 136px;
	min-height: 18px;
	background-color: transparent;
	font-size: 15px;
	line-height: 18px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	left: 720px;
}

#pu2355
{
	width: 0.01px;
	margin-left: 66px;
	margin-top: 52px;
}

#u2355
{
	z-index: 395;
	width: 180px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 25px;
}

#u2360
{
	z-index: 397;
	width: 180px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 25px;
	left: 255px;
}

#u2365
{
	z-index: 399;
	width: 143px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 504px;
}

#u2370
{
	z-index: 401;
	width: 136px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 735px;
}

#pu2180-4,#pu2203-4,#pu2219-4
{
	width: 0.01px;
	margin-left: 93px;
	margin-top: 10px;
}

#u2219-4
{
	z-index: 323;
	width: 125px;
	min-height: 18px;
	background-color: transparent;
	font-size: 15px;
	line-height: 18px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
}

#u2220-4
{
	z-index: 327;
	width: 125px;
	min-height: 18px;
	background-color: transparent;
	font-size: 15px;
	line-height: 18px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 267px;
}

#u2221-4
{
	z-index: 331;
	width: 141px;
	min-height: 18px;
	background-color: transparent;
	font-size: 15px;
	line-height: 18px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 485px;
}

#u2222-4
{
	z-index: 335;
	width: 125px;
	min-height: 18px;
	background-color: transparent;
	font-size: 15px;
	line-height: 18px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 725px;
}

#pu2375
{
	width: 0.01px;
	margin-left: 66px;
	margin-top: 51px;
}

#u2375
{
	z-index: 403;
	width: 167px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
}

#u2380
{
	z-index: 405;
	width: 162px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 251px;
}

#u2385
{
	z-index: 407;
	width: 151px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 512px;
}

#pu2223-4
{
	width: 0.01px;
	margin-left: 93px;
	margin-top: 11px;
}

#u2223-4
{
	z-index: 339;
	width: 125px;
	min-height: 18px;
	background-color: transparent;
	font-size: 15px;
	line-height: 18px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
}

#u2224-4
{
	z-index: 343;
	width: 125px;
	min-height: 18px;
	background-color: transparent;
	font-size: 15px;
	line-height: 18px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	left: 267px;
}

#u2225-4
{
	z-index: 347;
	width: 125px;
	min-height: 18px;
	background-color: transparent;
	font-size: 15px;
	line-height: 18px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	left: 517px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 69px;
}

#page .verticalspacer
{
	clear: both;
}

