.version.focus_areas /* version checker */
{
	color: #00001D;
	background-color: #168BA8;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1723.5714285714266px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	padding-bottom: 62px;
	width: 0.01px;
}

#u444
{
	z-index: 5;
	height: 114px;
}

#u444:active
{
	height: 114px;
	min-height: 0px;
	margin: 0px;
}

#u444-bw
{
	z-index: 5;
	height: 114px;
}

#u929-7
{
	z-index: 37;
	width: 887px;
	min-height: 46px;
	margin-right: -10000px;
	margin-top: 23px;
	left: 251px;
}

#u2044
{
	z-index: 129;
	width: 63px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 168px;
}

#pu444,#pu868-3
{
	width: 0.01px;
	margin-left: -100px;
}

#u868-3,#u868-3-bw
{
	z-index: 2;
	min-height: 34px;
}

#menuu477
{
	z-index: 6;
	width: 592px;
	margin-right: -10000px;
	left: 284px;
}

#u485
{
	width: 103px;
	min-height: 34px;
	margin-right: -10000px;
}

#u486
{
	width: 103px;
	padding-bottom: 17px;
}

#u486:hover
{
	width: 103px;
	min-height: 0px;
	margin: 0px;
}

#u486.MuseMenuActive
{
	width: 103px;
	min-height: 0px;
	margin: 0px;
}

#u487-4
{
	width: 40px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
	left: 31px;
}

#u486:hover #u487-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 40px;
	margin: 0px -10000px 0px 0px;
}

#u486.MuseMenuActive #u487-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 40px;
	margin: 0px -10000px 0px 0px;
}

#u974
{
	width: 104px;
	min-height: 34px;
	margin-right: -10000px;
	left: 105px;
}

#u977
{
	width: 104px;
	padding-bottom: 17px;
}

#u977:hover
{
	width: 104px;
	min-height: 0px;
	margin: 0px;
}

#u977.MuseMenuActive
{
	width: 104px;
	min-height: 0px;
	margin: 0px;
}

#u978-4
{
	width: 41px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
	left: 31px;
}

#u977:hover #u978-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 41px;
	margin: 0px -10000px 0px 0px;
}

#u977.MuseMenuActive #u978-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 41px;
	margin: 0px -10000px 0px 0px;
}

#u981
{
	width: 134px;
	min-height: 34px;
	margin-right: -10000px;
	left: 211px;
}

#u982
{
	width: 134px;
	padding-bottom: 17px;
}

#u982:hover
{
	width: 134px;
	min-height: 0px;
	margin: 0px;
}

#u982.MuseMenuActive
{
	width: 134px;
	min-height: 0px;
	margin: 0px;
}

#u985-4
{
	width: 71px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
	left: 31px;
}

#u982:hover #u985-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 71px;
	margin: 0px -10000px 0px 0px;
}

#u982.MuseMenuActive #u985-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 71px;
	margin: 0px -10000px 0px 0px;
}

#u988
{
	width: 108px;
	min-height: 34px;
	margin-right: -10000px;
	left: 347px;
}

#u989
{
	width: 108px;
	padding-bottom: 17px;
}

#u989:hover
{
	width: 108px;
	min-height: 0px;
	margin: 0px;
}

#u989.MuseMenuActive
{
	width: 108px;
	min-height: 0px;
	margin: 0px;
}

#u992-4
{
	width: 45px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
	left: 31px;
}

#u989:hover #u992-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 45px;
	margin: 0px -10000px 0px 0px;
}

#u989.MuseMenuActive #u992-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 45px;
	margin: 0px -10000px 0px 0px;
}

#u1002
{
	width: 135px;
	min-height: 34px;
	margin-right: -10000px;
	left: 457px;
}

#u1005
{
	width: 135px;
	padding-bottom: 17px;
}

#u1005:hover
{
	width: 135px;
	min-height: 0px;
	margin: 0px;
}

#u1005.MuseMenuActive
{
	width: 135px;
	min-height: 0px;
	margin: 0px;
}

#u1007-4
{
	width: 72px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
	left: 31px;
}

#u1005:hover #u1007-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 72px;
	margin: 0px -10000px 0px 0px;
}

#u1005.MuseMenuActive #u1007-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 72px;
	margin: 0px -10000px 0px 0px;
}

#ppu1026-18
{
	width: 0.01px;
	margin-left: -227px;
	margin-top: 10px;
}

#pu1026-18
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 22px;
}

#u1026-18
{
	z-index: 44;
	width: 145px;
	min-height: 28px;
}

#u1037-15
{
	z-index: 62;
	width: 145px;
	min-height: 28px;
	margin-top: 39px;
}

#u1038-18
{
	z-index: 77;
	width: 145px;
	min-height: 28px;
	margin-top: 41px;
}

#pu2128-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-left: 308px;
}

#u2128-4
{
	z-index: 330;
	width: 228px;
	min-height: 38px;
	background-color: transparent;
	line-height: 48px;
	color: #7F7F7F;
	font-size: 40px;
	font-family: Times, Times New Roman, Georgia, serif;
	position: relative;
}

#u2131
{
	z-index: 334;
	width: 884px;
	height: 5px;
	background-color: #7F7F7F;
	top: -5px;
	margin-bottom: -5px;
	position: relative;
}

#pu1521-197
{
	width: 0.01px;
	margin-left: 2px;
	margin-top: 47px;
}

#u1521-197
{
	z-index: 131;
	width: 891px;
	min-height: 613px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1521-3
{
	font-size: 17px;
	font-weight: bold;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u1521-2
{
	font-size: 19px;
	text-decoration: underline;
	line-height: 27px;
}

#u1521,#u1521-4
{
	font-size: 17px;
	line-height: 24px;
	font-weight: bold;
}

#u1521-6,#u1521-8
{
	font-size: 15px;
	text-align: left;
	line-height: 21px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

#u1521-9
{
	font-size: 15px;
	line-height: 21px;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	font-style: normal;
}

#u1521-19,#u1521-20,#u1521-21,#u1521-22,#u1521-23,#u1521-24,#u1521-25,#u1521-26,#u1521-27,#u1521-28,#u1521-29,#u1521-30,#u1521-31,#u1521-32,#u1521-33,#u1521-34,#u1521-35,#u1521-36
{
	line-height: 20px;
}

#u1521-43
{
	font-size: 19px;
	text-decoration: none;
	line-height: 27px;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
}

#u1521-111
{
	line-height: 20px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: normal;
	font-style: italic;
}

#u1521-18,#u1521-112,#u1521-113,#u1521-114,#u1521-115,#u1521-116,#u1521-117,#u1521-118,#u1521-119,#u1521-120,#u1521-121,#u1521-122,#u1521-123,#u1521-124
{
	line-height: 20px;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	font-weight: normal;
	font-style: italic;
}

#u1521-125,#u1521-126,#u1521-127,#u1521-128,#u1521-129,#u1521-130
{
	text-decoration: underline;
	line-height: 20px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: normal;
	font-style: italic;
}

#u1521-151
{
	font-size: 15px;
	line-height: 21px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: normal;
	font-style: italic;
}

#u1521-63,#u1521-158,#u1521-159,#u1521-160,#u1521-161,#u1521-162,#u1521-163
{
	font-size: 15px;
	line-height: 21px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: normal;
	font-style: normal;
}

#u1521-152,#u1521-153,#u1521-154,#u1521-155,#u1521-156,#u1521-157,#u1521-164
{
	font-size: 15px;
	line-height: 21px;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	font-weight: normal;
	font-style: italic;
}

#u1521-37,#u1521-38,#u1521-39,#u1521-40,#u1521-165,#u1521-166,#u1521-167
{
	font-size: 19px;
	line-height: 27px;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	font-weight: bold;
}

#u1521-42,#u1521-84,#u1521-132,#u1521-169
{
	font-size: 19px;
	line-height: 27px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
}

#u1521-41,#u1521-83,#u1521-131,#u1521-168
{
	text-decoration: underline;
}

#u1521-64,#u1521-65,#u1521-66,#u1521-67,#u1521-68,#u1521-69,#u1521-70,#u1521-71,#u1521-72,#u1521-73,#u1521-74,#u1521-75,#u1521-76,#u1521-77,#u1521-78,#u1521-79,#u1521-80,#u1521-81,#u1521-82,#u1521-85,#u1521-170
{
	line-height: 20px;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
}

#u1521-45,#u1521-47,#u1521-49,#u1521-50,#u1521-87,#u1521-89,#u1521-91,#u1521-93,#u1521-95,#u1521-96,#u1521-133,#u1521-135,#u1521-137,#u1521-139,#u1521-141,#u1521-142,#u1521-172,#u1521-174,#u1521-176,#u1521-178,#u1521-179
{
	font-size: 15px;
	line-height: 21px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

#u1521-17,#u1521-62,#u1521-110,#u1521-150,#u1521-193
{
	font-size: 15px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: normal;
	font-style: italic;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u1521-10,#u1521-51,#u1521-97,#u1521-143,#u1521-180
{
	font-size: 16px;
	font-style: normal;
	line-height: 22px;
}

#u1521-11,#u1521-12,#u1521-14,#u1521-15,#u1521-52,#u1521-53,#u1521-55,#u1521-56,#u1521-58,#u1521-59,#u1521-61,#u1521-98,#u1521-99,#u1521-101,#u1521-102,#u1521-104,#u1521-105,#u1521-107,#u1521-108,#u1521-144,#u1521-145,#u1521-147,#u1521-148,#u1521-181,#u1521-182,#u1521-184,#u1521-185,#u1521-187,#u1521-188,#u1521-190,#u1521-191
{
	font-style: normal;
	line-height: 21px;
}

#u1521-194
{
	line-height: 20px;
	font-weight: normal;
	font-style: italic;
}

#u2121
{
	z-index: 328;
	width: 382px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 194px;
	left: 121px;
}

#u2144
{
	z-index: 335;
	width: 382px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 850px;
	left: 122px;
}

#u2155
{
	z-index: 337;
	width: 382px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1445px;
	left: 122px;
}

#u2160
{
	z-index: 339;
	width: 382px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2016px;
	left: 122px;
}

#pu1077-21
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 22px;
	margin-left: 1280px;
}

#u1077-21
{
	z-index: 95;
	width: 145px;
	min-height: 28px;
}

#u1026-16,#u1077-19
{
	padding-left: 37px;
}

#u1026-16.rtl-list,#u1077-19.rtl-list
{
	padding-left: 0px;
	padding-right: 37px;
}

#u1026-16 > li:before,#u1077-19 > li:before
{
	margin-right: 8px;
	margin-top: 0px;
}

#u1026-16.rtl-list > li:before,#u1077-19.rtl-list > li:before
{
	margin-right: 0px;
	margin-left: 8px;
}

#u1239-13
{
	z-index: 116;
	width: 145px;
	min-height: 90px;
	margin-top: 45px;
}

#u2165
{
	z-index: 341;
	width: 418px;
	background-color: transparent;
	margin-left: 187px;
	top: -6px;
	margin-bottom: -6px;
	position: relative;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 53px;
}

#page .verticalspacer
{
	clear: both;
}

