#u1365-4
{
	background-color: transparent;
	line-height: 48px;
	color: #7F7F7F;
	font-size: 40px;
	font-family: Times, Times New Roman, Georgia, serif;
	position: relative;
}

#u1364
{
	background-color: #7F7F7F;
	position: relative;
}

